<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro na Consulta</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container-erro">
    <h1>Erro na Consulta do CEP</h1>
    <p>O CEP <strong>{{ cep }}</strong> é inválido ou não foi encontrado.</p>
    <a href="/">Voltar</a>
    </div>
</body>
</html>
